// app global css in SCSS form

.q-header .q-toolbar {
  padding-right: 0;

  .toolbar-action {
    padding-right: 12px;
  }
}

.app {
  &-error {
    &-caption {
      opacity:.4;
    }
    &-code {
      font-size: 30vh;
    }
  }
}

.manager {
  &-export {
    &-textarea {
      height: 100%;
    }
  }

  &-dialog {
    &-help {
      width: 700px;
      max-width: 80vw;
    }

    &-talisman-form {
      width: 350px;
    }
  }
}

.talisman {
  &-card {
    &-skills {
      min-height: 140px;
    }
  }
}
